<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
        >
        <title>Members</title></head><body>
        
        
        <script>
           
            // Initialize and add the map
            function initMap() {

                const getSnakes = <%- JSON.stringify(snakes) %>;

                const Singapore = {
                    lat: 1.359634,
                    lng: 103.812619
                };
            // The map, centered at Singapore
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: Singapore
            });

            getSnakes.forEach(snake => {
                const marker = new google.maps.Marker({
                position: { lat: snake.location.coordinates[1] , lng: snake.location.coordinates[0]},
                map: map,
                title: snake.scientificName
                 });
            });
           

            }
            </script>
      
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light row bg-success bg-opacity-75 p-2 sticky-top ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="https://lh3.googleusercontent.com/rIuzUNnL5VA7JqKS1Ahsk3Uxwde8aLVRO_p6VAIVWy4RGrvBzSetGYvaRPwDWvrGqhOUzC7e_28Ap0C43BYlVUBNFvEmI_Kd4wRxGR238qOHWWu77b6i21Gtk-uClrkOkiCJe_wJYA=w2400" alt="snakeLogo" class="homepageLogo"></a>

                <a class="navbar-brand ps-3" href="/members">
                    <h2>Snakes of Singapore Society - Members Home
                    </h2>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/signup">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container snakes row">
            <h2 class="my-5">Snakes Sighted in Singapore</h2>

            <% for(let snake of snakes) { %>
                <div class="media my-5 col-6">
                    <img class="mr-3 snakeImg " src="<%= snake.img %>" alt="Snake image">
                    <div class="media-body">
                        <h5 class="mt-0"><%= snake.scientificName %></h5>
                        <%= snake.dateFound.toDateString() %>,
                        <%= snake.description %>
                    </div>
                </div>
            <% } %>

            <div class="col-6">
                <h3>Snake Location</h3>
                <!--The div element for the map -->
                <div id="map"></div>
            </div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPKEY %>&callback=initMap&libraries=&v=weekly"
                async></script>
        </div>
    </body>
</html>
