<%- include("../partials/header.ejs") %>
        
<script>
    
    // Initialize and add the map
    function initMap() {

        const getSnakes = <%- JSON.stringify(snakes) %>;

        const Singapore = {
            lat: 1.359634,
            lng: 103.812619
        };
    // The map, centered at Singapore
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 11,
            center: Singapore
        });

        getSnakes.forEach(snake => {
            const marker = new google.maps.Marker({
            position: { lat: snake.location.coordinates[1] , lng: snake.location.coordinates[0]},
            map: map,
            title: snake.scientificName
                });
        });
    }

</script>
      
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light row bg-success bg-opacity-75 p-2 sticky-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="https://lh3.googleusercontent.com/rIuzUNnL5VA7JqKS1Ahsk3Uxwde8aLVRO_p6VAIVWy4RGrvBzSetGYvaRPwDWvrGqhOUzC7e_28Ap0C43BYlVUBNFvEmI_Kd4wRxGR238qOHWWu77b6i21Gtk-uClrkOkiCJe_wJYA=w2400" alt="snakeLogo" class="homepageLogo"></a>

            <a class="navbar-brand ps-3" href="/members">
                <h2>Snakes of Singapore Society - Members 
                </h2>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/members/new">SubmitEntry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">ContactUs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid snakes row">
        <% if (login === 'success') { %>
            <div class="row">
                <div class="alert alert-success" role="alert">
                Welcome back <%= user %>!
                </div>
            </div> 
        <% } else if(destroy === 'success') {%>
            <div class="row">
                <div class="alert alert-warning" role="alert">
                    Snake profile deleted.
                </div>
            </div>
        <% } else if(destroy === 'fail') {%>
            <div class="row">
                <div class="alert alert-warning" role="alert">
                    Unable to delete Snake; unauthorized user.
                </div>
            </div>
        <% } %>

                
        <h2 class="my-5">Snakes Sighted in Singapore</h2>

            <div class="row">
                <% for(let snake of snakes) { %>
                    <div class="media my-5 col-6">
                        <a href="/members/<%= snake.id %>">
                        <% if( snake.img.charAt(0) == 'i'){ %>
                            <img src="/<%= snake.img %>" alt="snake img" class="selectedSnakeImg ">
                        <% } else {%>
                            <img src="<%= snake.img %>" alt="snake img" class="selectedSnakeImg ">
                        <% } %>
                        </a> 
                        <div class="media-body">
                            <h5 class="mt-0"><%= snake.scientificName %></h5>
                            <%= snake.dateFound.toDateString() %>,
                            <%= snake.description %>
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="container">
                <div class="col mx-5 my-5">
                    <h3>Snakes Location</h3>
                    <!--The div element for the map -->
                    <div id="map"></div>
                </div>
            </div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPKEY %>&callback=initMap&libraries=&v=weekly"
            async></script>
    </div>

    <div class="my-4" style="text-align: center;">Images & Illustrations <span>&copy;</span> <a href="https://www.canlaken.com" title="www.canlaken.com">www.canlaken.com</a> by Kenneth Chin </div>

<%- include("../partials/footer.ejs") %>
