<%- include("../partials/header.ejs") %>

<script>
           
    // Initialize and add the map
    function initMap() {

        const getSnakes = <%- JSON.stringify(snakes) %>;

        const getSelectedSnake = <%- JSON.stringify(selectedSnake) %>;
    
    // The map, centered at Singapore
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: { lat: getSelectedSnake.location.coordinates[1] , lng: getSelectedSnake.location.coordinates[0]}
    });

    getSnakes.forEach(snake => {
        const marker = new google.maps.Marker({
        position: { lat: snake.location.coordinates[1] , lng: snake.location.coordinates[0]},
        map: map,
        title: snake.scientificName
         });
    });
   

    }
    </script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light row bg-success bg-opacity-75 p-2 sticky-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://lh3.googleusercontent.com/rIuzUNnL5VA7JqKS1Ahsk3Uxwde8aLVRO_p6VAIVWy4RGrvBzSetGYvaRPwDWvrGqhOUzC7e_28Ap0C43BYlVUBNFvEmI_Kd4wRxGR238qOHWWu77b6i21Gtk-uClrkOkiCJe_wJYA=w2400" alt="snakeLogo" class="homepageLogo"></a>

        <a class="navbar-brand ps-3" href="/members">
            <h2>Snakes of Singapore Society - Members 
            </h2>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5">
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signup">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-5">
    <h3 class="mb-3"><%= selectedSnake.commonName %></h3>
    <div class="row  my-3">
        <div class="col col-lg-6">
            <% if(selectedSnake.img.charAt(0) == 'i'){ %>
                <img src="/<%= selectedSnake.img %>" alt="snake img" class="selectedSnakeImg ">
            <% } else {%>
                <img src="<%= selectedSnake.img %>" alt="snake img" class="selectedSnakeImg ">
            <% } %>
        </div>

        <div class="col col-lg-6">
            <h4><img src="/vectors/snake.png" alt="snake vector" class="vectors pr-3"><%= selectedSnake.scientificName %></h4>
            <h4><img src="/vectors/product-description.png" alt="description vector" class="vectors"><%= selectedSnake.description %></h4>
            <h4><img src="/vectors/calendar.png" alt="calendar vector" class="vectors"><%= selectedSnake.dateFound.toDateString() %></h4>
            <h4><img src="/vectors/user.png" alt="user vector" class="vectors"><%= selectedSnake.username %></h4>
            
        </div>

    </div>
</div>



<div class="container-fluid">
    <div class="col snake-map my-5">
        <h3>Snake Location <img src="/vectors/location.png" alt="location icon" class="vectors"></h3>
        <!--The div element for the map -->
        <div id="map"></div>
    </div>
</div>


<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-8 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Comments</strong> 
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="/members/<%=selectedSnake.id%>" enctype="multipart/form-data">
                            <textarea name="comment" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                            <br>
                            <button type="submit" class="btn btn-info pull-right">Post</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <% commentsForSnake.forEach(comment => { %>
                            <li class="media">
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted"><%= comment.createdAt %></small>
                                    </span>
                                    <strong class="text-success">@<%= comment.username %></strong>
                                    <p>
                                        <%= comment.comment %>
                                    </p>
                                </div>
                            </li>
                            <% }) %>
                           </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>





<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPKEY %>&callback=initMap&libraries=&v=weekly"
    async></script>


<%- include("../partials/footer.ejs") %>